@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html,
 body{
    height: 100%;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
 }
 .clock{
    background-color: #1c1c1c;
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.5);
 }
 .clock .display{
    font-size: 60px;
    color: cyan;
    font-family: 'Orbitron',sans-serif;
    letter-spacing: 7.5px;
    text-align: ;
 }